@{
    ViewBag.Title = "Index";
}

<div>
    <h3>
        1. Определение третьей стороны прямоугольного треугольника,
        при имеющихся двух
        других сторонах.
    </h3>
    <p style="text-indent: 20px;">
        1.1 Определение третьей стороны по теореме “ Пифагора ” используя
        следующие
        формулы:
    </p>
    <p style="text-indent: 40px;">
        @Html.ActionLink("1.1.1 Для определения гипотенузы:", "FindHypotenuse")
    </p>

    <p style="text-indent: 40px;">
        @Html.ActionLink("1.1.2 Для определения катета:", "FindCathetus")
    </p>
    <h3>
        2. Определить площадь треугольника , при условии, что указаны величины 3 его сторон.
    </h3>
    <p style="text-indent: 20px;">
        2.1 Учесть проверку на “ Неравенство треугольника ”
    </p>
    <p style="text-indent: 40px;">
        @Html.ActionLink(@"2.2 Определение используя формулу “ ​Герона​ ”", "CalculateArea")
    </p>
</div>
